
@{
    ViewData["Title"] = "Mapa";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@section styles{
    <link href="~/assets/resources/oepnstreamap/leaflet.fullscreen.css" rel="stylesheet" />
    <style>
        #map1 {
            width: 100%
        }
    </style>
}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Buscador</h5>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xl-12">
                    <div class="">
                        <form method="post" id="address-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ingrese la direccion">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-success">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="gmap1 full-page-google-map">
                        <div id="map1"></div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="module" src="~/assets/js/expressJS/mapa-cooperativas.js"></script>
    <script src="~/assets/resources/oepnstreamap/Leaflet.fullscreen.js"></script>
}
